
<footer class="pt-3 bg-dark text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Espace utilisateur</p>
            </div>
            <div class="col-md-6">
                <p>2022 © Le blog de Pascal Monnier</p>
            </div>
        </div>
    </div>
</footer>
