<footer class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center d-flex justify-content-evenly align-items-center">
                <span>2022 © Le blog de Pascal Monnier</span>
            </div>
            <div class="col-sm-12 col-md-6 text-center d-flex justify-content-evenly align-items-center">
                <span>Suivez-moi :</span>
                <img src="{{ asset('images/facebook.svg') }}" class="img-fluid" />
                <img src="{{ asset('images/twitter.svg') }}" class="img-fluid" />
                <img src="{{ asset('images/linkedin.svg') }}" class="img-fluid" />
                <img src="{{ asset('images/instagram.svg') }}" class="img-fluid" />
            </div>
        </div>
    </div>
</footer>
