{% extends "themes/base_visitor.html.twig" %}

{% block title %} A propos de moi{% endblock %}

{% block description %} A propos de moi {% endblock %}

{% block main %}
<h1 class="text-center my-3 display-5">Qui suis-je ?</h1>
<div class="container">
    <p> Je suis médecin de formation a la retraite et  explorateur  par vocation.</p>
 <p>  J’ai été en charge pendant près de quatre ans des questions de biomédecine au magazine Sciences et Avenir. Un de mes articles, La chirurgie des mains multiplie les prouesses, relatif aux progrès des prothèses robotisées, a été récompensé en 2014 par le Prix Media du Dispositif Médical.</p>

 <p>  En 2012 et 2013, j’ai régulièrement collaboré au supplément hebdomadaire Science & Techno (aujourd’hui Science&Médecine) du Monde. Mon article Un médecin à portée de clavier, traitant de santé connectée, m’a valu en 2013 le Prix Presse Écrite Nationale décerné par les Trophées Signature Santé. </p>
  <p>Auparavant, mes articles ont été publiés dans les pages médecine et science du Figaro et Libération. J’ai travaillé pour de nombreux titres de la presse médicale spécialisée, notamment pour le Journal International de Médecine (JIM), Le Quotidien du Médecin, Panorama du Médecin. J’ai également été pendant plusieurs années le correspondant en France pour la rubrique news de la revue médicale britannique The Lancet.
  J’ai débuté ma carrière de journaliste médical en agence de presse.</p>
   <p>  En 2001, 2005, 2007 et 2017, j’ai publié sur le site américain d’informations médicales Medscape.com les interviews exclusives de neuf lauréats du Prix Nobel de Médecine. Ces entretiens ont tous été réalisés quelques mois ou semaines avant l’attribution de la prestigieuse récompense.
J’ai un vif intérêt pour l’immunologie, la biologie moléculaire, la virologie, les virus émergents (SARS-CoV, MERS-CoV, Ebola, Chikungunya, Zika, SARS-CoV-2), l’oncologie, mais aussi pour l’anatomie et l’histoire de la médecine.</p>

  <p>Enfin, depuis mon enfance, je suis passionné par les voyages et plus particulièrement par le continent africain . Lors d’un séjour pendant mes vacances d’été en afrique , j’ai interviewé au cnhu du Togo  les douze hommes et femmes qui composaient alors le corps des médecins  generaliste de l’institut.
Les Aventures de Monnier est un blog sur lequel vous pourrez régulièrement lire des cas cliniques étranges, déroutants, hallucinants, voire exceptionnels, incroyables, inimaginables, inoubliables… mais pas seulement.
En novembre 2017, mon billet de blog Un fœtus sauve sa mère en se sauvant lui-même a été récompensé par le Prix Web des Trophées Signatures Santé.</p>

<p>Un très grand merci pour votre extrême fidélité !</p>
</div>

{% endblock %}