<div class="bg-dark text-center">
    <div class="list-group bg-dark">
        <a href="#" class="text-white bg-dark list-group-item">Accueil</a>
        <a href="#" class="text-white bg-dark list-group-item">Catégories</a>
        <a href="#" class="text-white bg-dark list-group-item">Articles</a>
        <a href="#" class="text-white bg-dark list-group-item">Tags</a>
        <a href="#" class="text-white bg-dark list-group-item">Contacts</a>
        <a href="#" class="text-white bg-dark list-group-item">Utilisateurs</a>
    </div>
</div>
