{% extends "themes/base_visitor.html.twig" %}

{% block title %}
En attente de la vérification de votre compte par email
{% endblock %}

{% block main %}
    <div class="container bg-white p-4 shadow text-center mt-5">
        <h1 class="display-5 my-3">En attente de la vérification de votre compte par email.</h1>
        <p>Un email vous a été envoyé pour la vérification de votre compte.</p>
    </div>
{% endblock %}
