<h1>Bonjour!</h1>

<p>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe.</p>

<a href="{{ url('visitor.authentication.forgot_password.reset', {token: resetToken.token}) }}">{{ url('visitor.authentication.forgot_password.reset', {token: resetToken.token}) }}</a>

<p>A tout à l'heure!</p>
